.chat-main{
  width: calc(100vw - 300px);
  height: 100vh;
  .main-header{
    height: 100px;
    background-color: white;
    border-bottom: solid 1px #eeeeee;
    display: flex;
    justify-content: space-between;
    padding: 0 40px;
    a{
      color: $blue;
      text-decoration: none;
    }
    &__left-box{
      padding-top: 35px;
      &__current-group{
        font-size: 20px;
        color: #333333;
      }
      &__member-list{
        padding-top: 15px;
        font-size: 12px;
        color: $gray;
      }
    }
    &__edit-btn{
    border: solid 1px $blue;
    height: 40px;
    margin-top: 28px;
    padding: 0 20px;
    line-height: 40px;
    }
  }
  .messages{
    height: calc(100vh - 236px);
    background-color: #fafafa;
    padding: 46px 40px 0;
    overflow: scroll;
    .message{
      &__upper-info{
        display: flex;
        &__talker{
          font-size: 16px;
          font-weight: bold;
          color: #434a54;
          padding-bottom: 10px;
        }
        &__date{
          font-size: 12px;
          color: $gray;
          padding-left: 10px;
        }
      }
      &__text{
        font-size: 14px;
        color: #434a54;
        margin-bottom: 40px;
      }
    }
  }
  .form{
    background-color: #ddd;
    height: 90px;
    padding: 20px 40px 0;
    position: relative;
    .new-message{
      display: flex;
    }
    &__message{
      height: 50px;
      width: 100%;
    }
    &__mask{
      height: 50px;
      display: flex;
      align-items: center;
      position: absolute;
      right: 170px;

      &__image{
        font-size: 1.3rem;
      }
    }
    .hidden{
      display: none;
    }
    &__submit{
      background-color: $blue;
      color: $white;
      margin-left: 15px;
      width: 120px;
    }
  }
}