.chat-main{
  width: calc(100vw - 300px);
  height: 100vh;
  .main-header{
    height: 100px;
    background-color: white;
    border-bottom: solid 1px #eeeeee;
  }
  .messages{
    height: calc(100vh - 100px - 90px);
    background-color: #fafafa;
  }
  .form{
    background-color: #ddd;
    height: 90px;
  }
}