$side_header_color: #FFFFFF;
$white: #FFFFFF;
$blue: #38AEF0;
$gray: #999999;
$side_blue_dark: #253141;
$side_blue_light: #2f3e51;
$light_blue: #38AEF0;
$light_gray: #999;
$black: #434a54;
$alert_orange: #F35500;